<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="isshukan.com.bukatender">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".Application"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".screen.activity.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".screen.activity.MainActivity" />
        <activity android:name=".screen.activity.ListBidActivity" />
        <activity android:name=".screen.activity.ListProductsActivity" />
        <activity android:name=".screen.activity.ListMylapakActivity" />
        <activity android:name=".screen.activity.MylapakActivity" />
        <activity android:name=".screen.activity.TenderDetailActivity" />
        <activity android:name=".screen.activity.SetTenderActivity" />
        <activity android:name=".screen.activity.TransactionListActivity" />
        <activity android:name=".screen.activity.TransactionActivity"></activity>
    </application>

</manifest>